body {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

/* ナビバー */
.uk-navbar {
  background: #abd8a7;
}


/* トップページ */
.hikerog-top {
  position: relative;
  min-height: 450px;
  margin-bottom: 0;
  padding-top: 15px;
  overflow: hidden;
  text-align: left;
  background-image: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url(/images/back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  p {
    font-size: 1.0em;
    margin: 5px 0;
  }
  .outline {
    margin: 62px 0 0 0;
    padding: 15px;
    background: rgba(236, 236, 236, 0.7);
    -webkit-border-radius: 0 15px 0 15px;
    -moz-border-radius: 0 15px 0 15px;
    border-radius: 0 15px 0 15px;
  }
  .title {
    text-align: left;
  }
}

.contents-top {
  padding: 30px 0;
  h2 {
    font-size: 28px;
    margin: 0;
  }
}

.catch-copy {
  margin: 51px 0;
}

.catch-copy_title {
  font-size: 36px;
  line-height: 1.5;
  font-weight: bold;

}
.home-login {
  margin-bottom: 30px;
}

.hikerog-search {
  text-align: center;
  margin: 50px 0 20px 0;
}

/* メインコンテンツ */
main {
  &.site-content {
    padding: 25px 0;
  }
}

/* はいくろぐ関連*/
.container {
  &.hikerog {
    margin-top: 50px;
  }
}


/* セクション */
section {
  &.section {
    padding: 50px 0;
    &.section-default {
      background-color: #f9f9f9;
    }
    &.section-inverse {
      background-color: #abd8a7;
    }
    .subtitle {
      margin-bottom: 24px;
      text-align: center;
    }
    .top-hikerog {
      padding-bottom: 30px;
    }
  }
}

/* フッター */
footer {
  padding: 30px 0;
  color: #eee;
  background-color: #333;
  .copyright {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.panel-top {
  margin-top: 24px;
}

.home-login {
  .uk-form-password {
    display: block;
  }
}