body {
  margin-top: 80px;
}

/* ナビバー */
.navbar-nav {
  float: right;
}

/* ジャンボトロン */
.jumbotron {
  &.hikerog {
    position: relative;
    min-height: 530px;
    margin-bottom: 0;
    overflow: hidden;
    text-align: center;
    background-image: url(/images/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .outline {
      margin-top: 180px;
      background: rgba(236, 236, 236, 0.7);
    }
  }
}

/* セクション */
section {
  &.section {
    padding: 50px 0;
    &.section-default {
      background-color: #f9f9f9;
    }
    &.section-inverse {
      background-color: #b7d7d6;
    }
    .subtitle {
      margin-bottom: 24px;
      text-align: center;
    }
    .top-hikerog {
      padding-bottom: 30px;
    }
  }
}

/* フッター */
footer {
  padding: 30px 0;
  color: #eee;
  background-color: #333;
  .copyright {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.panel-top {
  margin-top: 24px;
}