<footer>
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-1-1 uk-text-center"><i class="uk-icon-justify uk-icon-copyright"></i> 2016 hikerog </div>
    </div>
  </div>
</footer>